# all test stuff
test_env.py
test.ipynb
test_script.py
test_log.log

tmp/buffer/memory.pkl

agent/__pycache__/
carla_gym/__pycache__
carla_gym/component/__pycache__
carla_gym/envs/__pycache__
carla_gym/parking_component/__pycache__
model/__pycache__