[Unit]
Description=auto running script

[Service]
Type=simple
ExecStart=/Carla/CARLA_0.9.12/PythonAPI/my_scripts/carla_gym_RL/scripts/script_service/script_check.sh 1
User=mehdi
RemainAfterExit=yes