[Unit]
Description=auto running script

[Service]
Type=simple
ExecStart=/home/mehdi/Documents/Mehdi/carla_gym_RL/scripts/script_service/script_test.sh
User=mehdi
RemainAfterExit=yes