[Unit]
Description=auto git

[Service]
Type=simple
ExecStart=/home/omen_ki_rechner/Documents/Mehdi/carla_gym_RL/scripts/auto_git/auto_git_test.sh
User=omen_ki_rechner
RemainAfterExit=yes