[Unit]
Description=auto git
After=auto_git.service

[Timer]
Unit=auto_git.service
Persistent=true
OnBootSec=120
OnCalendar=*:00,30:*

[Install]
WantedBy=timers.target