[Unit]
Description=auto running carla

[Service]
Type=simple
ExecStart=/home/omen_ki_rechner/Documents/Mehdi/carla_gym_RL/scripts/carla_service/carla_check.sh
User=mehdi
RemainAfterExit=yes