[Unit]
Description=auto running carla

[Service]
Type=simple
ExecStart=/home/mehdi/Documents/Mehdi/carla_gym_RL/scripts/carla_service/carla_test.sh
User=mehdi
RemainAfterExit=yes